

/* General */



body
{
    margin: 0;
    background-color: #dddddd;
}



/*Navigation*/



nav
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

nav ul
{
    display: flex;
    align-items: center;
    height: 1in;

    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    gap: 25px;

    background-color: #11111a;
}

/* Navigation links */

nav a
{
    color: #faf3dd;

    display: block;

    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover
{
    background-color: #22222b;
    color: #eecd94
}

.active
{
    color: #bba595
}

/* Navigation logo */

nav img
{
    width: 60px;
    height: auto;

    margin-left: 35px;

    display: block;
}



/* Page Content */



h1
{
    color: #333333
}